pre {
  white-space: pre-wrap;
}

p {
  text-align: center;
}

.center {
  margin-left: 8%;
  margin-right: 8%;
}

.syntax, pre {
  border: 2px black solid;
  border-radius: 15px;
}

footer {
  border-radius: 5px;
  position: absolute;
  left : 0;
  bottom: 0;
  width: 100%;
  background-image: url("../../../bottom.jpg");
  background-size: 10%;
  height: 10px;
  padding: 10px;
}

footer>p {
  margin-top: 0px;
  color: white;
  font-size: 12pt;
  text-align: center;
  vertical-align: middle;
}

#description {
  background-color: #ffcccc;
  border-radius: 15px;
  width: 86%;
  margin: auto;
  padding: 15px;
  margin-bottom: 15px;
}

#exercise {
	text-align: center;
	border: 2px #00BFFF solid;
	border-radius: 15px;
	padding: 15px;
	background-color:	#FAEBD7;
}

#syntax {
  font-size: 12pt;
  text-align: center;
}

input {
	display: inline;
	text-align: center;
	margin: auto;
}

code {
  text-align: center;
	white-space: pre-wrap;
}

img {
	width: 10%;
	margin: auto;
	display: block;
	height: auto;
}

li> a {
  font-size: 14pt;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
}

.large {
	width: 40%;
	height: auto;
}

li {
  border: none;
  border-radius: 5px;
  padding: 15px;
  width:50%;
  margin: auto;
  margin-bottom: 5px;
}

#first {
  background-color: #cc99ff;
}

#second {
  background-color: #80bfff;
}

p {
  margin: auto;
}

.space {
  display: block;
  margin: 10px;
}

#success-message {
	font-size: 8pt;
	color: red;
	text-align: center;

}

header {
  background-image: url("../../../trial3.jpg");
  background-size: 10%;
}

h1 {
  background-image: none;
  color: #000066;
  word-spacing: 7px;
}

.hidden {
  display: none;
}

.result {
  color: green;
}

button {
	font-size: 11pt;
  margin: auto;
  border: 2px solid green;
  padding: 5px;
	margin-left: 15px;
  border-radius: 5px;
}

h1, h2, h3, h4 {
  text-align: center;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
