pre {
  white-space: pre-wrap;
}

.syntax, pre {
  border: 2px black solid;
  border-radius: 15px;
}

.center {
  margin-left: 8%;
  margin-right: 8%;
}

#description {
  background-color: #e6ffee;
  border-radius: 15px;
  width: 86%;
  margin: auto;
  padding: 15px;
  margin-bottom: 15px;
}

#syntax {
  font-size: 12pt;
  text-align: center;
}

footer {
  border-radius: 5px;
  position: relative;
  left : 0;
  bottom: 0;
  width: 100%;
  background-image: url("../../../bottom.jpg");
  background-size: 10%;
  height: 10px;
  padding: 10px;
}

footer>p {
  margin-top: 0px;
  color: white;
  font-size: 12pt;
  text-align: center;
  vertical-align: middle;
}

code {
  text-align: center;
	white-space: pre-wrap;
}

p {
  margin: auto;
}

.space {
  display: block;
  margin: 10px;
}

header {
  background-image: url("../../../trial3.jpg");
  background-size: 10%;
}

h1 {
  background-image: none;
  color: #000066;
  word-spacing: 7px;
}

.hidden {
  display: none;
}

.result {
  color: green;
}

button {
	font-size: 15pt;
  margin: auto;
  display: block;
  border: 2px solid green;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1, h2, h3, h4 {
  text-align: center;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
